.sidekick-input-container {
  padding: 10px;
  display: flex;
  position: relative;
}

.sidekick-plaintext-input {
  width: 100%;
  height: 100px;
  resize: none;
  transition: box-shadow 0.2s ease;
  border-radius: 4px;
  border: 1px solid var(--background-modifier-border);
  box-shadow: 0 0 0 0 var(--background-modifier-border);
}

.sidekick-plaintext-input:focus-within {
  box-shadow: 0 0 2px 2px var(--interactive-accent);
}

.sidekick-send-button,
.sidekick-add-note-button,
.sidekick-stop-button {
  position: absolute;
  bottom: 15px;
  padding: 4px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
  color: var(--text-muted);
  border-radius: 5px;
  cursor: pointer;
}

.sidekick-send-button,
.sidekick-stop-button {
  right: 15px;
}

.sidekick-add-note-button {
  right: 50px;
}

.sidekick-send-button:hover,
.sidekick-stop-button:hover,
.sidekick-add-note-button:hover {
  color: var(--interactive-accent);
}

.sidekick-send-button svg,
.sidekick-stop-button svg,
.sidekick-add-note-button svg {
  width: 18px;
  height: 18px;
}
